meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Diagnóstico en educación ambiental.
meta(meta name="description" content="La educación ambiental no es solamente un proceso de transformación de costumbres y hábitos en una comunidad, también es considerado una estrategia clave para garantizar el cumplimiento o éxito de las intervenciones ambientales en un territorio, ya que se fundamenta en involucrar a las personas activamente en el diagnóstico de los mismos y en la búsqueda de alternativas viables para sus necesidades ambientales.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")