h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Reflexión inicial', 'main.html#page/reflexion/')
                    +navTemaItem('2', 'Conceptos de desarrollo sostenible y educación ambiental', 'main.html#page/conceptos/')
                    +navTemaItem('3', 'Normatividad nacional en educación ambiental', 'main.html#page/normatividad/')
                    +navTemaItem('4', 'Enfoque diferencial de las comunidades', 'main.html#page/enfoque/')                    