h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 2202010791- Diagnosticar la situación ambiental, educativa y participativa de la comunidad, de acuerdo con normativa y procedimientos técnicos. 