.container
    .header-ecored
        h1 1. Reflexión inicial
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.svg").img-fluid
        p.mt-5 La relación existente entre el desarrollo económico y social con el ambiental se ha hecho más evidente durante los últimos años, en parte porque se ha modificado la concepción de recursos naturales como un bien para el desarrollo del ser humano, al constatarse los cambios irreparables que se han producido en estos recursos, y su inminente deterioro y pérdida. 
        .sub-ecored-teme.mt-5
            h2 Interpretación del territorio
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.svg").img-fluid        