.container
    .header-ecored
        h1 2. Abastecimiento de agua
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img3.svg").img-fluid
        p.mt-5 Querido aprendiz, para iniciar el recorrido por la educación ambiental, le invitamos a ver el siguiente video, el cual le ayuda a comprender terminología y conceptos de suma importancia para las acciones realizadas como promotor ambiental.       
                
        .card-body.p-5
            .row.justify-content-center
                .col-12.col-md-10
                    .row
                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2 Cuando se trabaja con personas, bien sea en una comunidad o con individuos que laboran dentro de una organización, se hace relevante iniciar la discusión ambiental, promoviendo dos estrategias que son muy importantes: el desarrollo sostenible y la educación ambiental.                     
                        .col-12
                            .chat
                                .chat-avatar
                                    img(src="assets/images/pages/ilustraciones/user-1.svg", alt="")
                                .chat-box.cb--odd.br-radius
                                    p.mb-2 #[strong ¿Qué es desarrollo sostenible? ]

                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2 Existen muchas definiciones de sostenibilidad y por ende de desarrollo sostenible. La más conocida de todas, es la de la “Comisión Brundtland”, que hace dos décadas puso a circular el concepto; esta afirma que el desarrollo sostenible es aquel que permite satisfacer sus necesidades a las generaciones presentes, sin afectar el derecho de las próximas generaciones a satisfacer sus propias necesidades (Ministerio de Ambiente, Vivienda, Desarrollo Territorial [MAVDT], 2006, p.23).    

                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2 En esta definición hay dos elementos importantes: el vínculo entre sostenibilidad, desarrollo y satisfacción de necesidades humanas, y la responsabilidad de las generaciones presentes con las del futuro: responsabilidad intergeneracional, que forma parte integral de la sostenibilidad.   

                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2 Sin embargo, la definición se queda corta si tenemos en cuenta los diversos procesos humanos que se dan dentro de un mismo territorio. Cuando nos referimos a territorio no hablamos exclusivamente del espacio físico, sino también de las interrelaciones, tangibles e intangibles, que se desarrollan en los ámbitos social, cultural y natural.   

                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2 Por tanto, si ampliamos el término sostenibilidad, podríamos decir, según el MAVDT (2006), que es:

                                    p La capacidad de un sistema o proceso (en este caso el sistema comunidad-ambiente), para cumplir el objetivo o propósito colectivo de las interacciones entre sus elementos o actores, y para transformarse o evolucionar cuantitativa y cualitativamente, sin poner en peligro las bases o fundamentos de los cuales depende la permanencia en el largo plazo de ese mismo sistema o proceso (p.23).

                        .col-12
                            .chat
                                .chat-avatar
                                    img(src="assets/images/pages/ilustraciones/user-1.svg", alt="")
                                .chat-box.cb--odd.br-radius
                                    p.mb-2 #[strong ¿Qué es educación ambiental?  ]

                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2 Podemos remitirnos a la Ley 1549 de 2012, en la cual encontramos que la educación ambiental debe ser entendida como un proceso dinámico y participativo, orientado a la formación de personas críticas y reflexivas, con capacidades para comprender las problemáticas ambientales de sus contextos (locales, regionales y nacionales). Esta educación también busca que los individuos participen activamente en la construcción de apuestas integrales (técnicas, políticas pedagógicas y otras), que apunten a la transformación de su realidad, en función del propósito de construcción de sociedades ambientalmente sustentables y socialmente justas.  

                        .col-12.d-flex.justify-content-end
                            .chat
                                .chat-avatar.order-2
                                    img(src="assets/images/pages/ilustraciones/user-2.svg", alt="")
                                .chat-box.cb--even.order-1.br-radius
                                    p.mb-2  Sin embargo, algo que debemos recordar es que la educación ambiental, como estrategia para convivir armónicamente con el territorio del cual somos parte, no puede dirigirse de manera exclusiva a uno o a unos pocos actores y sectores sociales, sino que debe llegar, de una u otra manera, a los involucrados directa e indirectamente del proceso educativo, por medio de estrategias de comunicación asertiva e inclusiva, que los convierta en protagonistas de las acciones a implementar en los territorios. 