.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Ministerio de Ambiente, Vivienda y Desarrollo Sostenible. (s.f). Red colombiana de formación ambiental.
                    
                    td Boletín 
                    td 
                        a(href="https://drive.google.com/file/d/1CN-XdoBBlPwLhnTgm8VP6Ms6V2UA4QQN/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Organización de las Naciones Unidas, 1992. Programa 21

                    td Página Web
                    td 
                        a(href="https://www.un.org/spanish/esa/sustdev/agenda21/index.htm", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver 