include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Asamblea Nacional Constituyente. (1991). Constitución Política de Colombia. ", "http://www.secretariasenado.gov.co/senado/basedoc/constitucion_politica_1991.html")

        +referenciaItem("Botero, H. (2013). Construcción de un marco legal nacional e internacional a considerar para el concepto de ambiente. Revista de educación y pensamiento, pp 120-132. ", "https://dialnet.unirioja.es/servlet/articulo?codigo=4786023")

        +referenciaItem("Congreso de la República de Colombia. (1993). Ley 99. Por la cual se crea el Ministerio del Medio Ambiente, se reordena el Sector Público encargado de la gestión y conservación del medio ambiente y los recursos naturales renovables, se organiza el Sistema Nacional Ambiental, SINA, y se dictan otras disposiciones. ", "https://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=297")

        +referenciaItem("Congreso de la República de Colombia. (1994). Ley 134. Por la cual se dictan normas sobre mecanismos de participación ciudadana. ", "http://www.secretariasenado.gov.co/senado/basedoc/ley_0134_1994.html")

        +referenciaItem("Defensoría del Pueblo de Colombia. (2014). Enfoque diferencial, un principio transversal en la materialización de los derechos de los grupos étnicos en su condición de víctimas. ", "http://www.defensoria.gov.co/public/pdf/04/boletin3etnicos.pdf")

        +referenciaItem("Hollmann, M. (2017) Construcción histórica del actual concepto de desarrollo sostenible. Antecedentes de problemáticas socioeconómicas y ambientales. ", "https://www.redalyc.org/jatsRepo/5116/511653854002/511653854002.pdf")

        +referenciaItem("Ministerio del Interior [MININTERIOR]. (2012). El enfoque diferencial y étnico en la política pública de víctimas del conflicto armado. ISBN: 978-958-8909-38-7. ", "https://gapv.mininterior.gov.co/sites/default/files/cartilla_enfoque_diferencial_fin_1.pdf")

        +referenciaItem("Ministerio de Ambiente, Vivienda y Desarrollo Territorial [MAVDT]. (2006). Programa de Educación Ambiental y Participación Ciudadana. ", "https://www.minambiente.gov.co/images/OrdenamientoAmbientalTerritorialyCoordinaciondelSIN/pdf/Agenda_Ambiental_Propia_del_Pueblo_Pastos_del_Nudo_de_los_Pastos/comunidad_cienaga_grande.pdf")

        +referenciaItem("Presidencia de la República de Colombia. (1974). Decreto 2711. ", "https://www.minambiente.gov.co/images/GestionIntegraldelRecursoHidrico/pdf/normativa/Decreto_2811_de_1974.pdf")

        +referenciaItem("Secretaría Distrital de Integración Social. (s.f.). Enfoque diferencial. ", "https://www.integracionsocial.gov.co/index.php/politicas-publicas/la-sdis-aporta-a-la-implementacion/politica-publica-enfoque-diferencial")

        +referenciaItem("Secretaría Distrital de Ambiente (2014). Portafolio de la Oficina de Participación Educación y Localidades (OPEL). ", "https://oab.ambientebogota.gov.co/?post_type=dlm_download&p=3500")

        +referenciaItem("Sarmiento, P. (2015). Educación ambiental con enfoque diferencial. Comunidad indígena Concordia, Inírida Guainía. ", "https://repository.libertadores.edu.co/bitstream/handle/11371/517/SarmientoD%C3%ADazPedroAlejandro.pdf?sequence=2")

        +referenciaItem("Unidad para la atención y reparación integral de víctimas. (s.f). Enfoque étnico. ", "https://colaboracion.dnp.gov.co/CDT/Poltica%20de%20Vctimas/Enfoques%20Diferenciales/Enfoque%20%C3%89tnico.PDF")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            